*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding:0;
	text-decoration: none;
	box-sizing: border-box;
	}
	body {
		width: 450px;
		background-color: rgb(247, 246, 245);
		color: black;
		text-align: center;
		margin: auto;
		padding: 25px;
		margin-top: 20px;
		border-radius:20px;
    }
    #container{
        background-color: rgb(90, 248, 235);
        margin-top: 10px;
        width: 400px;
        height: 170px;
        box-shadow: 1px 2px 12px 0 rgb(7, 7, 7);
        border-bottom-right-radius:15px ;
        border-bottom-left-radius:15px ;
    }
	button{
		width: 150px;
        height: 50px;
		background-color: rgb(11, 106, 168);
		color: white;
		text-align: center;
		margin: auto;
		padding: 25px;
		margin-top: 20px;
		border-radius:20px;
		/* font-weight:100%; */
	}
    button:hover{
        background-color: rgb(255, 0, 170);
        color:black;
    }
	
	
    p{
        background-color: rgb(127, 228, 11);
      
        color:white;
        padding: 15px;
        border-radius: 20px;
        margin-top:10px;
        width: 350px;
        margin-left: 25px;
        height:50px;
    }
    h2{
        background-color: green;
        padding: 15px;
        border-radius:10px;
        color: aliceblue;
    }
